@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
body{

  background-image: url('../static/images/1.jpg');
 
  background-repeat: no-repeat;
  background-size: 2300px 1100px;
  width: 1530px;
  height: 1100px;
  
}
img {
  height: 800px;
  width: 1530px;
}

/* navigagtion bar code */
.navbar-brand {
  float: left;
  padding: 26px 411px 10px 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 6px -137px -6px;
  }


  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: -21px 0px 0px;
}

  nav{
    width: 100%;
    padding: 7px 51px;
    height: 97px;
    background-color:black;
    line-height: 50px;
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
 
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
/* 
for input form */
  form {
    margin: 95px 147px;
  }

/* for input container */
.card{
  background-color:#5CB3FF;
  margin: 135px 304px;
  padding: 3px;
  text-align: center;
}


.btn {
  display: inline-block;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 8px 0px 0px 15px;
}


/*  
for enter details */
.h4, h4 {
  font-size: 25 px;
    
    margin: -3px -3px 0px -3px;
    padding: -6px 485px;
    font-weight: bold;
    font-family: 'Nanum Gothic';
    font-size: 3rem;
    background: rgb(9, 79, 219);
}


/* inside form */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 22px;

}

/* table code start frome here */
.table-bordered {
  margin: 124px 175px;
  font-size: 20px;
  background-color: #f2f2f2;
  text-align: center;
  border: 2px solid;
}
table {
  border-spacing: 0;
  border-collapse: inherit;
}

.table-bordered>tbody>tr>th {
  border: 2px solid;
  padding: 5px;
  text-align: center;
}

.table-bordered>tbody>tr>td {
  border: 2px solid;
  padding: 2px 14px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom-width: 2px;
  border: 2px solid;
  text-align: center;
}

.materialvalues{
  text-align: center;
  background-color: rgb(255, 255, 255);
    margin: 4px 4px 26px -76px;
    
}


