<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title> Home Page</title>
    
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   
<!--  Jquery Cdn   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- highcharts -->

<script src = "https://code.highcharts.com/highcharts.js"></script> 
<script src = "https://code.highcharts.com/modules/data.js"></script>

<!-- Jquery Cdn -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    
    <div id="abc">
        <nav class="nav">
            <ul>
                <li><a href="http://localhost:5000/predict" style="font-weight:bolder;font-size: 20px;">Prediction System</a></li>
                <li><a href="#about" style="font-weight:bolder;font-size: 20px;">About</a></li>
                <li><a href="#news" style="font-weight:bolder;font-size: 20px;">News Articles</a></li>
                <!-- <li><a href="../templates/articles.html">News Articles</a></li> -->
            </ul>
        </nav>
    </div>
        <div class="container-fluid" style="background-image: url('../static/images/4.jpg'); background-size: 100% 100% ;">
          
            <h2 style="text-align:center;margin: -95px -22px 24px;font-weight: bolder; background-color: rgb(255, 255, 255);" class="text- heading-text" ><raw> Raw Material Forecasting in Automobile Industry </raw></h2>
            <div class="text-center">
            <form action="http://localhost:5000/predict"><button class="btn btn-success " type="submit"><pred> Prediction System </pred></button></form>
           </div>

           <section id="about
            <div class="hero-container">
                <div class="hero-logo">
        </div>
                </div>
                <h2 class="font-weight-bold"></h2>
                
            </div>
        </section>

        <section id="ABOU" class="variety pt-4">
            <p>
               <h1 style="text-align:center ;">About</h1>

            </div></br></br>
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src=" " alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a>Importance</a>
                            </h5>
                            <p class="card-text">
                              In the Automobile  Manufacturing industry, Production planning is one of the most crucial processes. Predicting the future demnd for raw materials required for production allows manufactureres to manage production processes efficiently. We have developed a model using Machine Learning Algorithms which is capable of future demand of materials. The model at present is capable of predicting yearly requiremnt of major materials used in automobile industry which are Steel, Plastic, Iron, Rubber, Aluminium, Glass, Copper. It can be made more useful by using more precise data and making monthly or quanterly predictions.
                            </p>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src=" " alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a>Motivation</a>
                            </h5>
                            <p class="card-text">
                                The Indian automotive industry is expected to reach Rs. 16.16-18.18 trillion (US$ 251.4-282.8 billion) by 2026. The industry provides great opportunities for investment and direct and indirect employment to skilled and unskilled labour. The automobile industry is one of the most important economic catalysts in the country. It is estimated that the sector could contribute more than 60 million additional direct and indirect jobs. The Automobile Industry manufacturers have been facing lots of issues like uncertainty in supply of raw materials, along with a lot of other problems regarding transport and logistics.   
                            </p>
            </p>
        </section>
        </section>
        <section id="news">
            <h1 style="text-align:center ;padding: 20px;"> News Articles</h1>
            </p>
                <iframe width="450px" height="400" src="https://www.news18.com/news/auto/indian-auto-industry-face-challenges-due-to-global-constraints-price-hikes-5001103.html" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://economictimes.indiatimes.com/industry/auto/auto-news/rising-input-costs-supply-chain-woes-headwinds-for-indian-auto-sector-in-2022-mg-motor-india-president/articleshow/90890428.cms?from=mdr" sandbox = ""; frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://www.thehindu.com/news/cities/Coimbatore/high-raw-material-prices-hit-msmes-in-the-automobile-sector/article37479665.ece" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://auto.hindustantimes.com/auto/cars/mg-motor-sees-rising-input-costs-supply-chain-woes-as-auto-industry-s-challenge-41650197989327.html" frameborder="0"> </iframe>
                <iframe width="450px" height="400" src="https://economictimes.indiatimes.com/industry/auto/auto-news/rising-input-costs-could-drive-up-vehicle-prices/articleshow/89836319.cms?from=mdr" sandbox = "";frameborder="0"> </iframe>
                <iframe width="465px" height="420" src="https://www.thehindu.com/business/Industry/why-is-the-auto-industry-facing-trouble/article61582949.ece" frameborder="0"> </iframe>
            </p>
        </section>
</body>
</html>